@import url("../styles/nullstyle.css");
.content__lead {
  color: #fff;
  margin: 20px auto;
  max-width: 500px;
  aspect-ratio: 1.6;
  overflow: hidden;
  background-color: rgb(212, 201, 201);
  background: url("../image/about/glitch_2022-11-2_13-30-6.gif") 100% 100%/cover no-repeat;
}
.content__title {
  padding-top: 30px;
  font-size: 24px;
  text-align: center;
}
.content__paragraph {
  max-width: 200px;
  margin: 0 auto;
  padding-top: 50px;
}