@import url("../styles/nullstyle.css");
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/Oswald-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../fonts/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../fonts/Oswald-Light.woff2") format("woff2"), url("../fonts/Oswald-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
.page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 1fr 10%;
  grid-template-areas: "header" "main" "footer";
  font-family: "Oswald", serif;
  background: #0a0a0a;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  max-width: 1180px;
  height: 100%;
}
.page__wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0 auto;
  text-align: center;
}
.header__logo_active {
  pointer-events: none;
}
.header__image {
  max-width: 70px;
}
.header__name {
  max-width: 200px;
  margin: 0 auto;
  text-transform: uppercase;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.header__links {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0 0 0;
}
@media (max-width: 573px) {
  .header__links {
    flex-direction: column;
  }
}
.header__link {
  text-transform: uppercase;
  transition: opacity 700ms ease;
}
.header__link:not(:last-child) {
  margin: 0 50px 0 0;
}
@media (max-width: 687px) {
  .header__link:not(:last-child) {
    margin: 0 30px 0 0;
  }
}
@media (max-width: 610px) {
  .header__link:not(:last-child) {
    margin: 0 20px 0 0;
  }
}
@media (max-width: 573px) {
  .header__link:not(:last-child) {
    margin: 0 0 20px 0;
  }
}
.header__link:hover {
  transition: opacity 700ms ease;
  opacity: 0.7;
}

.main {
  grid-area: main;
  position: relative;
  flex: 1 1 auto;
  max-height: calc(100vh - 190px - 30px);
  padding: 20px 0 0 0;
}
@media (max-width: 992px) {
  .main {
    max-height: 450px;
  }
}
@media (max-width: 768px) {
  .main {
    min-height: 400px;
  }
}
.main__wrapper {
  position: relative;
  max-width: 60%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .main__wrapper {
    max-width: 100%;
  }
}

.image-slider {
  padding: 10px 0;
  background: url("../image/cubiks.jpg");
  overflow: hidden;
  max-width: 400px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .image-slider {
    padding: 10px 0;
  }
}
.image-slider__slide {
  overflow: hidden;
  padding: 0 10px;
  max-width: 400px;
  margin: 0 auto;
}
.image-slider__image {
  text-align: center;
  overflow: hidden;
}
.image-slider__img {
  aspect-ratio: 1;
  max-width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-prev::after {
  color: rgb(72, 68, 68);
  font-size: 40px;
  font-weight: 700;
}

.swiper-button-next::after {
  color: rgb(72, 68, 68);
  font-size: 40px;
  font-weight: 700;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  height: 30px;
}
.footer__text {
  align-self: end;
}