.gallery {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  row-gap: 30px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin: 0 auto;
}
.gallery__item {
  max-width: 282px;
  justify-self: center;
}
.gallery__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__folder-name {
  padding: 10px 0 0 0;
}